
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

body{
    background: rgb(2,0,36);
    background: linear-gradient(to Left, white, goldenrod);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    margin: 0px;
    padding: 0px;
    font-family: "Arima", system-ui;

}

header{
    background-image: url('img/encabezado-img.png');
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 11;
    height: 15vh;
    min-height: 100px ;
    display: flex;
    justify-content: space-between;
    
}
header>img{
    align-self: flex-start;
    height: 100%;
}
nav{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}
nav>ul>li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color:white;
    background-color: rgba(238, 230, 230, 0.2);

}

nav a:hover{
    color:rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;

}



section{
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10px;
}

section a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: large;
}
section a:hover{
    color:rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
}
section ul{
    padding-left: 15px;
}
section li{
    padding-top: 5px;
}

main{
    padding-left: 5px;
    grid-column-start: 3;
    grid-column-end: 11;
    min-height: 77vh;
    overflow-y: scroll;
    
}
footer{
    background-color: black;
    color: white;
    grid-column-start: 1;
    grid-column-end: 11;
    display: flex;
    justify-content: space-around;
    min-height: 10%;
}
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem ;
}


.categorias li, .categorias a{
    text-decoration: none;
    list-style-type: none;
}



/*producto*/
/*
.productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
*/
.articuloProducto{
    width: 200px;
    height: 300px;
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: start;
    
}
.fotoProducto img{
    margin: 5px;
    width: 95%;
    height: 95%;

}
.tituloProducto{
    padding: 5px;
    width: 188px;
    font-size: 2rem;

}
.descripcionProducto{
    width: 188px;
    padding: 5px;

}
.precioProducto{
    width: 188px;
    padding: 5px;
}







/*formularios*/


form{
    display:block;
    width: 400px;
    height: auto;


}

fieldset>div{
    display: flex;
    justify-content: space-between;
}
fieldset>div>input{
    width: 80%;
}
fieldset textarea{
    width: 100%;
    resize: none;
}


        

/*cartas reseñas*/

.cartas{
    display: grid;
    grid-template-columns:  1fr;
    column-gap: 15px;
}
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(250px 1fr));
    gap: 5px;
    
}
.card:hover{
    transform: translateY(-5px);
    font-size: larger;
    border: white solid 1px;
    padding: 5px;
    box-shadow: 5px 10px 10px #f0a792;

}

@media only screen and  ((max-width: 625px)) and ((min-width:400px)) {
    body{
        display: flex;
        flex-direction: column;
    }
    .productos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .articuloProducto{
        width: 95%;
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .fotoProducto{

        max-height: 50% ;
    
    }


}





@media only screen and  ((min-width: 625px)) and ((max-width: 790px)) {
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cartas{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
}

@media only screen and  ((min-width: 790px)) and ((max-width: 1105px)) {
    .productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .cartas{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and  ((min-width: 1105px)) {
    .productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .cartas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

